
<!DOCTYPE html> 
<html> 
    <head> 
        <title>option tag</title> 
        <style> 
            body { 
                text-align:center; 
                background: rgb(252, 186, 147);
            } 
            h1 { 
                color:rgb(15, 13, 13); 
            } 
        </style>  
    </head> 
    <body> 

        <form action="/submit_once_data" method="POST" >
        <h2> Please once Confirm Your name and image id for submission</h2> 
        <p><b>Your reference id for image <%=data.id%></b></p>
        <br>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter name" name="name" required>
        <br>
        <label for="name"><b>Enter your image reference id here</b></label>
        <input type="text" placeholder="user id" name="user_id" required>
        <br>
        <button>
                <input type="submit">
                </button>

            </form>
    </body> 
</html>    

