<!DOCTYPE html> 
<html> 
    <head> 
        <title> student task</title> 
        <style> 
            body { 
                text-align:center; 
                background: rgb(160, 255, 204);
            } 
            h1 { 
                color:rgb(15, 13, 13); 
            } 
        </style>  
    </head> 
    <body> 
        <form action="generateReport" method="post">
        <h1>Welcome to online Image editing bootcamp</h1> 
        <h2> This is your Image editing task</h2> 
        <p>This is You task. complete this task</p>
        <button>dawonload</button>

    </form>

        <p>If you completed your task so submit</p>
        <button>
            <a href="http://localhost:3500/submission">submit</a>
        </button>

        

    
    </body> 
</html>    