
<!DOCTYPE html> 
<html> 
    <head> 
        <title>option tag</title> 
        <style> 
            body { 
                text-align:center; 
                background: rgb(252, 186, 147);
            } 
            h1 { 
                color:rgb(15, 13, 13); 
            } 
        </style>  
    </head> 
    <body> 
        <form action="/submit_once_data" method="POST" >
        <h2> Please once Confirm Your name Email and user Id for submission</h2> 

        <br>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Email" name="name" required>
        
        <br>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter your Email" name="email" required>
        <br>
        <label for="name"><b>Enter your personal user Id</b></label>
        <input type="text" placeholder="user id" name="user_id" required>
        
        <br>
        
        <button>
                <input type="submit">
                </button>


            <!-- </form> -->
    </body> 
</html>    

