<!DOCTYPE html> 
<html> 
    <head> 
        <title> student task</title> 
        <style> 
            body { 
                text-align:center; 
                background: rgb(160, 255, 204);
            } 
            h1 { 
                color:rgb(15, 13, 13); 
            } 
        </style>  
    </head> 
    <body> 
        <h1>Welcome to online Instractor page</h1> 
        <!-- <p>If You want to edit student task so click here</p>
        <a href="http://localhost:3500/introduction">submit</a>
            </button> -->

        <h2>If You want to give grad to student</h2> 
        <button>
        <a href="http://localhost:3500/user_list">submit</a>
            </button>

       
    </body> 
