<!DOCTYPE html> 
<html> 
    <head> 
        <title>option tag</title> 
        <style> 
            body { 
                text-align:center; 
                background: rgb(252, 186, 147);
            } 
            h1 { 
                color:rgb(15, 13, 13); 
            } 
        </style>  
    </head> 
    <body> 
        <form action="/student_task" method="POST" >
        <h1>Welcome to online Image editing bootcamp</h1> 
        <h2> This bootcamp has 3 different tracks</h2> 
        <br>

        <label for="browser">Chose any track:</label>
        <br>
        <input list="browsers" name="browser" id="browser">
        <datalist id="browsers">
            <option value="Beginner">
            <option value="Intermediate">
            <option value="Advanced">
        </datalist>
        <button>
                <input type="submit">
                </button>


            </form>
    </body> 
</html>    