<form  action="/login" method="post" style="border:1px solid #ccc">
    <div class="container">
      <h2>Student Grade.</h2>
      <hr>

  
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Email" name="name" required>
  
      <br>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter your Email" name="email" required>
  

<br>
<label for="grade"><b>Grade </b></label>
<input type="text" placeholder="Grade between 1 to 5" name="grade" required>


        <button type="submit" class="grade">submit
        <!-- <a href="http://localhost:3500/my_grade">submit</a> -->
        </button>

      </div>
    </div>
  </form>
