<!DOCTYPE html> 
<html> 
    <head> 
        <title> student task</title> 
        <style> 
            body { 
                text-align:center; 
                background: rgb(160, 255, 204);
            } 
            h1 { 
                color:rgb(15, 13, 13); 
            } 
        </style>  
    </head> 
    <body> 
        <h1>Welcome to online Image editing bootcamp</h1> 
        <h2> This is your Image editing task</h2> 
        <button>
        <input type="submit">

        <a href="http://localhost:3500/introduction">submit</a>
            </button>


       
    </body> 
